@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: false;
	logs: false;
}
@plugin "daisyui/theme" {
	name: "giolt-light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(92% 0.003 48.717);
	--color-base-200: oklch(97% 0.001 106.424);
	--color-base-300: oklch(100% 0 0);
	--color-base-content: oklch(20% 0 0);
	--color-primary: oklch(21% 0.006 56.043);
	--color-primary-content: oklch(92% 0.003 48.717);
	--color-secondary: oklch(21% 0.006 56.043);
	--color-secondary-content: oklch(92% 0.003 48.717);
	--color-accent: oklch(21% 0.006 56.043);
	--color-accent-content: oklch(92% 0.003 48.717);
	--color-neutral: oklch(21% 0.006 56.043);
	--color-neutral-content: oklch(92% 0.003 48.717);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 1rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}

@plugin "daisyui/theme" {
	name: "giolt-dark";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(21% 0.006 56.043);
	--color-base-200: oklch(26% 0.007 34.298);
	--color-base-300: oklch(26% 0.007 34.298);
	--color-base-content: oklch(92% 0.003 48.717);
	--color-primary: oklch(92% 0.003 48.717);
	--color-primary-content: oklch(26% 0.007 34.298);
	--color-secondary: oklch(92% 0.003 48.717);
	--color-secondary-content: oklch(26% 0.007 34.298);
	--color-accent: oklch(92% 0.003 48.717);
	--color-accent-content: oklch(26% 0.007 34.298);
	--color-neutral: oklch(92% 0.003 48.717);
	--color-neutral-content: oklch(26% 0.007 34.298);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(60% 0.118 184.704);
	--color-success-content: oklch(98% 0.014 180.72);
	--color-warning: oklch(66% 0.179 58.318);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(58% 0.253 17.585);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 1rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
	--glass-opacity: 0.1;
	--glass-reflect-opacity: 0.01;
}

html,
body {
	min-height: 100svh;
	overflow-x: hidden;
}

@theme {
	--font-sans: "Bricolage Grotesque", sans-serif;
	--font-serif: "Bricolage Grotesque", sans-serif;
}

@utility container {
	margin-inline: auto;
	padding-inline: 1.5rem;
	max-width: 1200px;
}

a {
	@apply underline-offset-4;
}

@utility highlight {
	border-radius: 85% 15% 81% 19% / 19% 86% 14% 81%;
	@apply bg-primary text-base-100;
}

::selection {
	@apply bg-primary text-primary-content;
}

#app {
	@apply h-svh;
}

/* Hanko Elements */
hanko-auth,
hanko-profile {
	--background-color: var(--color-base-100);
	--color: var(--color-base-content);
	--border-radius: var(--border-radius);

}